#paragrafo {
		color: grey;
		font-size: 15px;
	}

	#elenco {
		color:grey;
	
	}
	
a:link {
	color: grey;
	text-decoration:none;
}

a:visited {
	color: grey;
	text-decoration:none;
}

a:hover {
	color: grey;
	text-decoration:underline;
}

a:active {
	color: grey;
	text-decoration:none;
}