h1 {
	font-size:20pt;
	background-color: red;
	font-family:Helvetica;
	padding-top:1em;
    padding-bottom:1em;
	padding-left:1em;
}   

h2 { color:white;
     font-size:32 px;
     font-family:Helvetica;
}

